@CHARSET "UTF-8";

/*
 * Index page
 */
body {
Font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif
} 
 
.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.items {
	width: 600px;
	margin: 0 auto;
}

.items .col-md-4 {
	float: left;
	height: 200px;
	width: 200px;
}

.items .col-md-4 div{
	margin: auto;
	height: 160px;
	width: 160px;
	padding:0;
	border-radius: 50%;
	box-shadow: 0 0 0 8px rgba(255,255,255,1), 0 1px 2px rgba(0,0,0,0.1);
}

#content {
	padding-top: 80px;
}
 
#wrap {
	background-color : beige;
	min-width: 700px;
}

#wrap .navbar-fixed-top{
	background-color : #000;
	border : none;
}

#wrap .navbar-brand{
	padding : 0px;
	margin-top: 10px;
}

#search-button {
	color: #fff;
	width:100px;
	border: none;
	background: #e50909 url("../img/go.png") no-repeat center;
	float: left;
}

#search-bar {
	margin: 0 auto;
	width: 540px;
	padding-top : 15px;
}

#search-bar .form-control{
	width: 440px;
	float: left;
	box-shadow : none;
	border-right: none;
}

#footer .container{
	height: 30px;
}

#qq-login {
	position: fixed;
	right:0px;
	bottom: 70px;
	border: none;
}

.image-grid {
	width: 80%;
	height:200px;
	max-width: 750px;
	margin: 40px auto 0;
}