@CHARSET "UTF-8";

/*
 * Index page
 */
#search-button {
	color: #fff;
	width:100px;
	border: none;
	background: #e50909 url("/img/go.png") no-repeat center;
}

#search-bar {
	margin: 0 auto;
	width: 540px;
	padding-top : 280px;
}

#search-bar .form-control{
	width: 440px;
}

#footer .container{
	height: 30px;
}

#qq-login {
	position: fixed;
	right:0px;
	bottom: 70px;
	border: none;
}